streamlit
pandas
plotly
python-dotenv
langchain>=0.1.5
langgraph
langchain-core
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-groq
python-dotenv==1.0.0
yfinance==0.2.63
requests==2.31.0
PyPDF2==3.0.1
faiss-cpu
python-dateutil
langchain-community